<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"
        />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"
        />

    <!-- 对于 Android 12 及以上版本 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s"
        />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <!-- 对于 Android 11 及以上版本需要位置权限来扫描蓝牙设备 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30"/>

    <!-- Required for running in background indefinitely -->
<!--    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />-->
<!--    <uses-permission android:name="android.permission.REQUEST_COMPANION_USE_DATA_IN_BACKGROUND" />-->
<!--    <uses-permission android:name="android.permission.REQUEST_COMPANION_PROFILE_WATCH" />-->
    <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" />
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
        android:maxSdkVersion="26" />

    <!-- 声明需要蓝牙功能（但允许设备不支持） -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-feature android:name="android.software.companion_device_setup" />

    <!-- 如果使用低功耗蓝牙（BLE），额外声明 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BluetoothConnect"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--        <service-->
<!--            android:name=".WatchService"-->
<!--            android:foregroundServiceType="connectedDevice"-->
<!--            android:permission="android.permission.FOREGROUND_SERVICE" />-->


        <service
            android:name=".MainActivity$MyDeviceService"
            android:exported="true"
            android:permission="android.permission.BIND_COMPANION_DEVICE_SERVICE">
            <intent-filter>
                <action android:name="android.companion.CompanionDeviceService" />
            </intent-filter>
        </service>
    </application>

</manifest>